/*{}*/

body{
	background: rgb(30,30,30);
	color: rgb(180,180,180);
	font-family: century gothic;
	padding: 0% 5% 3% 5%;
	margin: 1% auto;
}


.cuerpo1{
	text-align: center;
	font-size: 200%;
}


.cuerpo2{
	text-align: center;
	margin-top: 5%
}


.logo{
	width: 6rem;
	height: 3rem;
}









